.button {
  position: relative;
  width: 27px;
  height: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  margin-left: 8px; 
}